<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>EnerVision Admin</title>
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <link rel="shortcut icon" href="images/enervision.png" />
</head>


<body>
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-2" href="/dashboard"><img src="images/image.png"
            style="width: 150px; height: 50px; padding: 5px;" class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="/dashboard"><img src="images/enervision.png" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="<%= admin.picture %>" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a href="#" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a id="confirmLogout" class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid page-body-wrapper">
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
              aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
            aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#profile-elements" aria-expanded="false"
              aria-controls="profile-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Profile</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="profile-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/profile">Admin Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user-profiles">User Profile</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#user-posts" aria-expanded="false"
              aria-controls="user-posts">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">User Posts</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user-posts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/userposts">All User Posts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Reported Posts</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">kWh Rate</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/providers">Providers</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Suggestions</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="">Posts Suggestions</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#postStatus" aria-expanded="false"
              aria-controls="postStatus">
              <i class="icon-contract menu-icon"></i>
              <span class="menu-title">Post Status</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="postStatus">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/deletedPosts">Deleted Posts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/flaggedPosts">Flagged Posts</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#faqs" aria-expanded="false" aria-controls="faqs">
              <i class="icon-contract menu-icon"></i>
              <span class="menu-title">FAQs</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="faqs">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/faqs">QAs</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#chats" aria-expanded="false" aria-controls="chats">
              <i class="icon-contract menu-icon"></i>
              <span class="menu-title">Intercom Chats</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="chats">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/chats">Chats</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#devices" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Appliances</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="devices">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/devices">Efficient Appliances</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="header d-flex flex-column align-items-left mb-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="d-flex align-items-center">
                <img src="/images/userpost.png" style="width: 100px; height: 50px;" class="header-icon" alt="User Posts Icon">
                <h2 class="ml-2 mt-3" style="font-size: 45px;">User Post Management</h2>
              </div>
            
              <button type="button" class="btn btn-success mt-4 mb-3" data-toggle="modal" data-target="#addPostModal"
                style="background-color: #1BBC9B; width: 20%;">
                <i class="fas fa-plus-circle mr-2" style="color: white;"></i> Add New Post
              </button>
            </div>
          
            <form action="/userposts" method="GET" class="mb-3">
              <div class="input-group">
                <input type="text" name="username" class="form-control" placeholder="Search by Username"
                  value="<%= searchTerm %>" style="margin-right: 5px; border-radius: 10px;">

                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </form>

            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
              <table class="table table-bordered">
                <thead class="thead-light" style="text-align: center; vertical-align: middle;">
                  <tr>
                    <th>Username</th>
                    <th>Date Posted</th>
                    <th>Title</th>
                    <th>Category Tag</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody style="text-align: center; vertical-align: middle;">
                  <% usersWithPosts.forEach(user=> { %>
                    <% user.posts.forEach(post=> { %>
                      <tr data-post-id="<%= post._id %>">
                        <td>
                          <%= user.username %>
                        </td>

                        <td>
                          <%= new Date(post.createdAt).toLocaleDateString() %>
                        </td>
                        <td style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                          title="<%= post.description %>">
                          <%= post.title %>
                        </td>
                        <td>
                          <%= post.tags %>
                        </td>
                        <td style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                          title="<%= post.description %>">
                          <%= post.description %>
                        </td>
                        <td>
                          <% if (post.flagged) { %>
                            <span class="badge bg-warning">Flagged</span>
                            <% } else { %>
                              <span class="badge bg-success">Active</span>
                              <% } %>
                        </td>
                        <td>
                          <button type="button" class="btn btn-warning btn-sm"
                            onclick="setConfirmation('flag', '<%= post._id %>')">Flag</button>
                          <button type="button" class="btn btn-danger btn-sm"
                            onclick="setConfirmation('delete', '<%= post._id %>')">Delete</button>
                        </td>

                      </tr>
                      <% }) %>
                        <% }) %>
                </tbody>

              </table>
            </div>

            <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Action</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span>&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p id="confirmationMessage"></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmButton">Confirm</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel"
        aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="addPostModalLabel">Create a Post</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <form id="addPostForm" action="/createPost" method="POST">
                      <div class="modal-body">
                          <div class="form-group">
                              <label for="title">Post Title</label>
                              <input type="text" class="form-control" id="title" name="title" required>
                          </div>
                          <div class="form-group">
                              <label for="description">Description</label>
                              <textarea class="form-control" id="description" name="description"></textarea>
                          </div>
                          <div class="form-group">
                              <label for="tags">Select Tag</label>
                              <select class="form-control" id="tags" name="tags" required>
                                  <option value="Renewable Energy">Renewable Energy</option>
                                  <option value="Solar Energy">Solar Energy</option>
                                  <option value="Green Living">Green Living</option>
                                  <option value="Energy Conservation">Energy Conservation</option>
                              </select>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save Post</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      

      </div>
    </div>

    <script>
      let currentAction = '';
      let currentPostId = '';

      function setConfirmation(action, postId) {
        currentAction = action;
        currentPostId = postId;

        document.getElementById('confirmationMessage').innerText =
          action === 'flag' ? 'Are you sure you want to flag this post?' :
            'Are you sure you want to delete this post? This action cannot be undone.';

        $('#confirmationModal').modal('show');
      }

      document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('confirmButton').addEventListener('click', function () {
          const url = currentAction === 'flag' ? '/flagPost/' + currentPostId : '/deletePost/' + currentPostId;
          const method = 'POST';

          fetch(url, {
            method: method,
            headers: {
              'Content-Type': 'application/json',
            }
          })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                $('#confirmationModal').modal('hide');

                if (currentAction === 'delete') {
                  const postRow = document.querySelector(`tr[data-post-id="${currentPostId}"]`);
                  if (postRow) {
                    postRow.remove();
                  }
                  toastr.success('Post successfully deleted!');
                } else if (currentAction === 'flag') {
                  const postRow = document.querySelector(`tr[data-post-id="${currentPostId}"]`);
                  if (postRow) {
                    const statusCell = postRow.querySelector('td:nth-child(7)');
                    if (statusCell) {
                      statusCell.innerHTML = '<span class="badge bg-warning">Flagged</span>';
                    }
                  }
                  toastr.success('Post successfully flagged!');
                }
              } else {
                toastr.error('An error occurred while flagging the post.');
              }
            })
            .catch(error => {
              console.error('Error:', error);
              toastr.error('An error occurred while processing your request. Please try again.');
            });
        });
      });
    </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  
  <script>
      $('#addPostBtn').on('click', function() {
          $('#addPostModal').modal('show');
      });
  
      $('#addPostForm').on('submit', function(e) {
          e.preventDefault(); 
  
          const title = $('#title').val();
          const description = $('#description').val();
          const selectedTags = $('#tags').val(); 
  
          console.log('Title:', title);
          console.log('Description:', description);
          console.log('Tags:', selectedTags);
  
          $.ajax({
              url: '/createPost', 
              type: 'POST',
              headers: {
                  'Authorization': 'Bearer ' + localStorage.getItem('adminToken')
              },
              data: JSON.stringify({
                  title: title,
                  description: description,
                  tags: selectedTags 
              }),
              contentType: 'application/json',
              success: function(response) {
                  if (response.success) {
                      $('#addPostModal').modal('hide'); 
                      location.reload();
                  } else {
                      alert('Error creating post: ' + response.message);
                  }
              },
              error: function(error) {
                  console.error('Error creating post:', error);
                  alert('An error occurred while creating the post.');
              }
          });
      });
  </script>
  </div>
  </div>
  <footer class="footer">
    <div class="d-sm-flex justify-content-center ">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 |
        EnerVision</a> from
        PNPh Class of 2024 | All rights reserved.</span>
    </div>
  </footer>
  </div>


  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="js/dataTables.select.min.js"></script>
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
</body>

</html>